<nav id="access" role="navigation">
  <div class="menu">
    <ul>
      <li class="current_page_item"><a routerLink="">Home</a></li>
      <li class="page_item page-item-2895"><a href="http://stepansuvorov.com/blog/my-projects/">projects</a></li>
      <li class="page_item page-item-227"><a href="http://stepansuvorov.com/blog/useful-linux-comands/">shell tricks</a></li>
      <li class="page_item page-item-3115"><a href="http://stepansuvorov.com/blog/subscribe/">Subscribe</a></li>
      <li class="page_item page-item-2948"><a href="http://stepansuvorov.com/blog/i-use/">I use</a></li>
      <li class="page_item page-item-2870"><a href="http://stepansuvorov.com/blog/follow-me/">me</a></li>
    </ul>
  </div>
</nav><!-- #access -->