<nav id="access" role="navigation">
  <div class="menu">
    <ul>
      <li class="current_page_item"><a routerLink="">Home</a></li>
      <li class="page_item page-item-2895"><a routerLink="blog/pages/projects">projects</a></li>
      <li class="page_item page-item-227"><a routerLink="blog/pages/shell-tricks">shell tricks</a></li>
      <li class="page_item page-item-2948"><a routerLink="blog/pages/i-use">I use</a></li>
      <li class="page_item page-item-2870"><a routerLink="blog/pages/me">me</a></li>
      <li class="page_item page-item-2870"><a routerLink="blog/pages/issue">issues?</a></li>
    </ul>
  </div>
</nav><!-- #access -->