<style>
  .hgroup {
    margin: 0 7.6%;
  }
</style>

<div id="page" class="hfeed">
  <header id="branding" role="banner">
    <div class="hgroup">
      <h1 id="site-title"><span><a href="https://blog.stepansuvorov.com/" rel="home">Stepan Suvorov Blog</a></span>
      </h1>
      <h2 id="site-description">Release 3.0</h2>
    </div>

    <form method="get" id="searchform">
      <label for="s" class="assistive-text">Search</label>
      <input type="text" class="field" name="s" id="s" placeholder="Search" />
      <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
    </form>

    <app-navigation></app-navigation>
  </header><!-- #branding -->


  <div id="main">

    <router-outlet></router-outlet>

    <div id="secondary" class="widget-area" role="complementary">
      <aside id="recent-posts-3" class="widget widget_recent_entries">
        <app-recent-posts></app-recent-posts>
      </aside>
      <aside id="tag_cloud-3" class="widget widget_tag_cloud">
        <app-tagcloud></app-tagcloud>
      </aside>
      <aside>
        <!-- <a class="twitter-timeline" data-width="220" data-height="1000" href="https://twitter.com/stevermeister?ref_src=twsrc%5Etfw">Tweets by stevermeister</a> -->
      </aside>
      
    </div><!-- #secondary .widget-area -->

  </div><!-- #main -->

  <app-footer></app-footer>
</div><!-- #page -->


