<style>
  .hgroup {
    margin: 0 7.6%;
  }
</style>

<div id="page" class="hfeed">
  <header id="branding" role="banner">
    <div class="hgroup">
      <h1 id="site-title"><span><a href="https://blog.stepansuvorov.com/" rel="home">Stepan Suvorov Blog</a></span>
      </h1>
      <h2 id="site-description">Release 3.0</h2>
    </div>

    <form method="get" id="searchform">
      <label for="s" class="assistive-text">Search</label>
      <input type="text" class="field" name="s" id="s" placeholder="Search" />
      <input type="submit" class="submit" name="submit" id="searchsubmit" value="Search" />
    </form>

    <app-navigation></app-navigation>
  </header><!-- #branding -->


  <div id="main">

    <router-outlet></router-outlet>

  </div><!-- #main -->

  <app-footer></app-footer>
</div><!-- #page -->


