<h3 class="widget-title">Recent Posts</h3>
<ul>
  <li>
    <a
      href="http://stepansuvorov.com/blog/2019/11/npkill-a-tool-to-clean-up-old-node_modules/"
      >npkill &#8211; a tool to clean up old node_modules</a
    >
  </li>
  <li>
    <a
      href="http://stepansuvorov.com/blog/2019/08/httpie-a-command-line-http-client-with-a-friendly-ui/"
      >HTTPie &#8211; a command-line HTTP client with a friendly UI</a
    >
  </li>
  <li>
    <a href="http://stepansuvorov.com/blog/2019/05/cmd-shift-dot/"
      >Cmd + Shift + . (dot)</a
    >
  </li>
  <li>
    <a
      href="http://stepansuvorov.com/blog/2019/05/%d0%a0%d0%b0%d0%b1%d0%be%d1%82%d0%b0-%d0%b2-envion-software-circle-development/"
      >Работа в Envion Software (Circle Development)</a
    >
  </li>
  <li>
    <a
      href="http://stepansuvorov.com/blog/2019/05/hackmd-markdown-editor-collaboration/"
      >hackmd &#8211; Markdown Editor + Collaboration</a
    >
  </li>
</ul>
