<article id="post-3574" class="post-3574 post type-post status-publish format-standard hentry category-uncategorized">
<header class="entry-header">
  <h1 class="entry-title"><a routerLink="{{article.route}}" rel="bookmark">{{article.title}}</a></h1>

  <div class="entry-meta">
    <span class="sep">Posted on </span>
    <a routerLink="{{article.route}}" rel="bookmark">
      <time class="entry-date" datetime="2019-11-13T20:06:15+02:00">{{article.date|date}}</time>
    </a></div><!-- .entry-meta -->

</header><!-- .entry-header -->

<div class="entry-content">


 <h1>content</h1>


</div><!-- .entry-content -->
</article><!-- #post-3574 -->