<div id="primary">
  <div id="content" role="main">
    <article class="post type-post status-publish format-standard hentry category-uncategorized">
      <header class="entry-header">
        <h1 class="entry-title">
          {{article?.title}}
        </h1>

        <div class="entry-meta">
          <span class="sep">Posted on </span>
          <a routerLink="{{article.route}}" rel="bookmark">
            <time class="entry-date">{{article.date|date}}</time>
          </a>
        </div>
        <!-- .entry-meta -->
      </header>
      <!-- .entry-header -->

      <div class="entry-content">
        <scully-content></scully-content>
      </div>
      <!-- .entry-content -->

      <footer class="entry-meta">
        This entry was posted in
        <ng-container *ngFor="let tag of article.tags?.split(',')" >
          <a routerLink="" [queryParams]="{tag: tag}"  rel="category tag">{{tag}}</a>,
        </ng-container>
        by <a href="">Stepan</a>.
        Bookmark the <a routerLink="{{article.route}}" title="{{article.title}}" rel="bookmark">permalink</a>.
      </footer>
      <!-- .entry-meta -->
    </article>
    <!-- #post-3574 -->
  </div>
  <!-- #content -->
</div>
<!-- #primary -->

