<div id="primary">
  <div id="content" role="main">


    <app-article-preview [article]="article" *ngFor="let article of articles$|async"></app-article-preview>


    <nav id="nav-below">
      <h3 class="assistive-text">Post navigation</h3>
      <div class="nav-previous"><a (click)="loadMore()"><span
            class="meta-nav">&darr;</span> load more</a></div>
      <div class="nav-next"></div>
    </nav><!-- #nav-above -->


  </div><!-- #content -->
</div><!-- #primary -->

<div id="secondary" class="widget-area" role="complementary">
  <aside id="recent-posts-3" class="widget widget_recent_entries">
    <app-recent-posts></app-recent-posts>
  </aside>
  <aside id="tag_cloud-3" class="widget widget_tag_cloud">
    <app-tagcloud></app-tagcloud>
  </aside>


  <aside>
    <a class="twitter-timeline" data-width="220" href="https://twitter.com/stevermeister?ref_src=twsrc%5Etfw">Tweets by stevermeister</a>
  </aside>
  
</div><!-- #secondary .widget-area -->